OdeToFood.Data/bin/
OdeToFood.Data/obj/
OdeToFood.Web/bin/
OdeToFood.Web/obj/
.vs/

.idea/
obj/
debug/
release/
bin/
.vscode
.vs/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/